<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Rooms web app</title>
    <link th:href="@{/css/site.css}" rel="stylesheet"/>
</head>
<body>

<table>
    <tr>
        <td>Room Number</td>
        <td>Room Name</td>
        <td>Bed Info</td>
    </tr>
    <tr th:each="room: ${rooms}">
        <td th:text="${room.number}"></td>
        <td th:text="${room.name}"></td>
        <td th:text="${room.info}"></td>
    </tr>
</table>
</body>
</html>